src/main/resources/heartbeat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="qualified">


    <xs:element name="heartbeat">
        <xs:complexType>

            <xs:sequence>
                <xs:element name="timestamp" type="xs:integer"/>
                <xs:element name="error" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>

            <xs:attribute name="service" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
